# Logs and databases #
######################
*.log
*.jsonl

# Folder #
######################
__pycache__/
IF_data/
wandb/
# eval/
output/

# Files #
######################
scripts/finetune_lora_with_accelerate_private.sh
scripts/finetune_lora_with_accelerate_private2.sh
scripts/IF_data_download_private.sh
eval/run_eval_priviate.sh